<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Login Form</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Username" #username></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Password" #password></ion-input>
				</ion-item>
			</div>

			<div padding>
                <ion-button size="large" (click)="login(username.value,password.value)" expand="block">Login</ion-button>
            </div>

            <div text-center>
                <h4>Or</h4>
            </div>
            <div padding>

                <ion-button size="large" (click)="loginFacebook()" expand="block">Login with Facebook
                    <ion-icon name="logo-facebook"></ion-icon>
                </ion-button>
			</div>
			
			<div text-center>
				<h1 *ngIf='!userConfirmed'>User not confirmed</h1>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>